mysite/__pycache__/wsgi.cpython-311.pyc
myapp/__pycache__/__init__.cpython-311.pyc
myapp/__pycache__/apps.cpython-311.pyc
myapp/__pycache__/models.cpython-311.pyc
myapp/__pycache__/views.cpython-311.pyc
myapp/migrations/__pycache__/__init__.cpython-311.pyc
myapp/migrations/__pycache__/0001_initial.cpython-311.pyc
myapp/migrations/__pycache__/0002_remove_respuestas_respuesta_10_and_more.cpython-311.pyc
myapp/migrations/__pycache__/0003_respuestas_respuesta_10_respuestas_respuesta_11_and_more.cpython-311.pyc
myapp/migrations/__pycache__/0004_respuestasdos_remove_respuestas_respuesta_10_and_more.cpython-311.pyc
myapp/migrations/__pycache__/0005_respuestascuatro_respuestastres.cpython-311.pyc
myapp/migrations/__pycache__/0006_auto_20240402_1425.cpython-311.pyc
myapp/migrations/__pycache__/0007_alter_registro_id_alter_respuestas_id_and_more.cpython-311.pyc
mysite/__pycache__/__init__.cpython-311.pyc
mysite/__pycache__/settings.cpython-311.pyc
mysite/__pycache__/urls.cpython-311.pyc
mysite/__pycache__/wsgi.cpython-311.pyc

mysite/__pycache__/wsgi.cpython-311.pyc
mysite/__pycache__/urls.cpython-311.pyc
# Ignora los archivos generados por Python
*.pyc
__pycache__/

# Ignora los archivos de migraciones de Django
**/migrations/

# Ignora el archivo de configuración local
**/settings_local.py

