{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Report</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="https://i.ibb.co/WH3Wnmx/Microsoft-Teams-image-35.png" alt="Encabezado" width="100%">
    </div>
    
    <div style="text-align: center;">
        <iframe src="https://app.powerbi.com/reportEmbed?reportId=c561530f-0484-48be-8b4b-367e4c817da9&autoAuth=true&ctid=c54378e3-dd36-49d6-b136-ef65fda4e085" width="1800" height="900"></iframe>
    </div>
    
    <div style="text-align: center;">
        <img src="https://i.ibb.co/1r7Lzbj/Microsoft-Teams-image-36.png" alt="Pie de página" width="100%">
    </div>
</body>
</html>
