{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Report</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="https://i.ibb.co/WH3Wnmx/Microsoft-Teams-image-35.png" alt="Encabezado" width="100%">
    </div>
    
    <div style="text-align: center; margin: 0 auto; width: 1600px; height: 500px;">
        <iframe title="ModeloDeMadurezWeb - copia" width="1600" height="473.5" src="https://app.powerbi.com/view?r=eyJrIjoiYzQ2M2U2ZGQtYzMxMy00YzFhLTgwYmUtNmVkMmUyZTg2YWQzIiwidCI6ImM1NDM3OGUzLWRkMzYtNDlkNi1iMTM2LWVmNjVmZGE0ZTA4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
    <div style="text-align: center;">
        <img src="https://i.ibb.co/1r7Lzbj/Microsoft-Teams-image-36.png" alt="Pie de página" width="100%">
    </div>
</body>
</html>

