{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Definición del conjunto de caracteres -->
    <meta charset="UTF-8">
    <!-- Especifica la compatibilidad con Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Ajusta el tamaño de la ventana gráfica para dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Power BI Report</title>
</head>
<body>
    <!-- Encabezado -->
    <div style="text-align: center;">
        <!-- Imagen del encabezado -->
        <img src="https://i.ibb.co/WH3Wnmx/Microsoft-Teams-image-35.png" alt="Encabezado" width="100%">
    </div>
    
    <!-- Contenedor del reporte de Power BI -->
    <div style="text-align: center; margin: 0 auto; width: 1600px; height: 500px;">
        <!-- Iframe que muestra el reporte de Power BI -->
        <iframe title="traspuesta" width="1600" height="473.5" src="https://app.powerbi.com/view?r=eyJrIjoiZmZlYWE4ODgtMjlmNC00NzUyLWE1MjAtMzcxZmU0YTY4ZTY1IiwidCI6ImM1NDM3OGUzLWRkMzYtNDlkNi1iMTM2LWVmNjVmZGE0ZTA4NSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
    <!-- Pie de página -->
    <div style="text-align: center;">
        <!-- Imagen del pie de página -->
        <img src="https://i.ibb.co/1r7Lzbj/Microsoft-Teams-image-36.png" alt="Pie de página" width="100%">
    </div>
</body>
</html>
