<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="10;url={% url 'iframe' %}">
    <title>Redireccionando</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .message {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="message">
        <h1>Redirigiendo en 20 segundos</h1>
        <p>Por favor espere mientras le redirigimos a la siguiente página</p>
    </div>
</body>
</html>
